# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#intelliJ IDEA files
project1/out/
project1/.idea/
project1/project1.iml

project1/TMP/

project2/\.idea/workspace\.xml

project2/\.idea/misc\.xml
